<%- include('./partials/sidebar.ejs') %>
<body class="theme-blush">

    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="/assets/images/loader.svg" width="48" height="48"
                    alt="Aero"></div>
            <p>Please wait...</p>
        </div>
    </div>

        <section class="content">
            <div class="body_scroll">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-10 col-md-9 ">
                            <h2>Category List</h2>
                        </div>
                        <!--Add Product Button -->
                    
                            <a href="/admin/addCategoryPage">
                                <button class="btn btn-primary btn-icon float-right" style="width: 100px;"  type="submit">Add Category</button>
                            </a>               
               
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="table-responsive">
                                    <table class="table table-hover product_item_list c_table theme-color mb-0">
                                        <thead>
                                            <tr>
        
                                                <th data-breakpoints="sm xs">Category</th>
                                                <th data-breakpoints="xs">list</th>
                                                <th data-breakpoints="xs md">offer</th>
                                                <th data-breakpoints="sm xs md">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                
                                            <% listData.forEach(listData=> { %>
                                                <tr>
                                                    
                                                    <td data-breakpoints="sm xs">
                                                        <h5>
                                                            <%= listData.category %>
                                                        </h5>
                                                    </td>
                                                    <td data-breakpoints="xs"><span class="text-muted">
                                                        <%= listData.list %>
                                                    </span></td>
                                                    <td  data-breakpoints="xs md"><span class="text-muted">
                                                            <%= listData.offer %>
                                                        </span></td>
                                                  
                                                    <td data-breakpoints="sm xs md">
                                                        <a href="/admin/producEdit"
                                                            class="btn btn-default waves-effect waves-float btn-sm waves-green"><i
                                                                class="zmdi zmdi-edit"></i></a>
                                                        <a href="/admin/productDelete"
                                                            class="btn btn-default waves-effect waves-float btn-sm waves-red"><i
                                                                class="zmdi zmdi-delete"></i></a>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                        </tbody>    
                                    </table>
                                </div>
                            </div>
                            <div class="card">
                                <div class="body">
                                    <ul class="pagination pagination-primary m-b-0">
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);"><i
                                                    class="zmdi zmdi-arrow-left"></i></a></li>
                                        <li class="page-item active"><a class="page-link"
                                                href="javascript:void(0);">1</a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:void(0);">
                                                <i class="zmdi zmdi-arrow-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>

