<!doctype html>
<html class="no-js " lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>AnB Store</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Custom Css -->
    <link rel="stylesheet" href="/assets/css/style.min.css">
</head>

<body class="theme-blush">

    <!-- Page Loader -->

    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Main Search -->



    <!-- Left Sidebar -->
    <%- include('./partials/sidebar.ejs') %>

        <section class="content">
            <div class="body_scroll">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-7 col-md-6 col-sm-12">
                            <h2>Add Product</h2>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-center mt-5">
                        <div class="col-md-6">
                            <div class="card-body">
                                <form method="post" action="/admin/addProduct" enctype="multipart/form-data">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Product Name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="category" class="form-label">Category</label>
                                        <input type="text" class="form-control" id="category" name="category" placeholder="Enter Product Category" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="rate" class="form-label">Rate</label>
                                        <input type="number" class="form-control" id="rate" name="rate" placeholder="Enter Product Rate" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="description" class="form-label">Description</label>
                                        <textarea class="form-control" id="description" name="description" placeholder="Enter Product Description" ></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="image" class="form-label">Image</label>
                                        <input type="file" class="form-control" id="image" name="image">
                                    </div>
    
                                    <div class="mb-3">
                                        <label for="stock" class="form-label">Stock</label>
                                        <input type="number" class="form-control" id="stock" name="stock" placeholder="Enter Product Stock" >
                                    </div>
                                    <div class="mb-3">
                                        <label for="offer" class="form-label">Offer</label>
                                        <input type="number" class="form-control" id="offer" name="offer" placeholder="Enter Product Offer">
                                    </div>
                                    <div class="mb-3">
                                        <label for="discountAmount" class="form-label">Discount Amount</label>
                                        <input type="number" class="form-control" id="discountAmount" name="discountAmount" placeholder="Enter Discount Amount">
                                    </div>
                                    <div class="mb-3">
                                        <label for="catOffer" class="form-label">Category Offer</label>
                                        <input type="number" class="form-control" id="catOffer" name="catOffer" placeholder="Enter Category Offer">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
   
</body>


</html>