<!doctype html>
<html class="no-js " lang="en">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

<title>:: Aero Bootstrap4 Admin ::</title>
<link rel="icon" href="favicon.ico" type="image/x-icon">
<!-- Favicon-->
<link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
<!-- Custom Css -->
<link rel="stylesheet" href="/assets/css/style.min.css">
</head>

<body class="theme-blush">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="/assets/images/loader.svg" width="48" height="48" alt="Aero"></div>
        <p>Please wait...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<!-- Main Search -->
<div id="search">
    <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
    <form>
        <input type="search" value="" placeholder="Search..." />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>



<!-- Left Sidebar -->
<%- include('./partials/sidebar.ejs') %>


<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Product</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Aero</a></li>
                        <li class="breadcrumb-item">eCommerce</li>
                        <li class="breadcrumb-item active">Product</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">                
                    <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="body product_item">
                            <span class="label onsale">Sale!</span>
                            <img src="/assets/images/ecommerce/1.png" alt="Product" class="img-fluid cp_img" />
                            <div class="product_details">
                                <a href="ec-product-detail.html">Simple Black Clock</a>
                                <ul class="product_price list-unstyled">
                                    <li class="old_price">$52.00</li>
                                    <li class="new_price">$45.00</li>
                                </ul>                                
                            </div>
                            <div class="action">
                                <a href="javascript:void(0);" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect">ADD TO CART</a>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="body product_item">
                            <img src="/assets/images/ecommerce/2.png" alt="Product" class="img-fluid cp_img" />
                            <div class="product_details">
                                <a href="ec-product-detail.html">Knit beanie with patch</a>
                                <ul class="product_price list-unstyled">
                                    <li class="old_price">$16.00</li>
                                    <li class="new_price">$13.00</li>
                                </ul>                                
                            </div>
                            <div class="action">
                                <a href="javascript:void(0);" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect">ADD TO CART</a>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="body product_item">
                            <img src="/assets/images/ecommerce/3.png" alt="Product" class="img-fluid cp_img" />
                            <div class="product_details">
                                <a href="ec-product-detail.html">Printed color block T-shirt</a>
                                <ul class="product_price list-unstyled">
                                    <li class="old_price">$341.00</li>
                                    <li class="new_price">$313.00</li>
                                </ul>                                
                            </div>
                            <div class="action">
                                <a href="javascript:void(0);" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect">ADD TO CART</a>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="body product_item">
                            <img src="/assets/images/ecommerce/4.png" alt="Product" class="img-fluid cp_img" />
                            <div class="product_details">
                                <a href="ec-product-detail.html">Simple Black Clock</a>
                                <ul class="product_price list-unstyled">
                                    <li class="old_price">$16.00</li>
                                    <li class="new_price">$13.00</li>
                                </ul>                                
                            </div>
                            <div class="action">
                                <a href="javascript:void(0);" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect">ADD TO CART</a>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="body product_item">
                            <span class="label new">New!</span>
                            <img src="/assets/images/ecommerce/5.png" alt="Product" class="img-fluid cp_img" />
                            <div class="product_details">
                                <a href="ec-product-detail.html">Simple Black Clock</a>
                                <ul class="product_price list-unstyled">
                                    <li class="old_price">$89.00</li>
                                    <li class="new_price">$66.00</li>
                                </ul>                                
                            </div>
                            <div class="action">
                                <a href="javascript:void(0);" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect">ADD TO CART</a>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="body product_item">
                            <span class="label trending">Trending!</span>
                            <img src="/assets/images/ecommerce/6.png" alt="Product" class="img-fluid cp_img" />
                            <div class="product_details">
                                <a href="ec-product-detail.html">Simple Black Clock</a>
                                <ul class="product_price list-unstyled">
                                    <li class="old_price">$16.00</li>
                                    <li class="new_price">$13.00</li>
                                </ul>                                
                            </div>
                            <div class="action">
                                <a href="javascript:void(0);" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect">ADD TO CART</a>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="body product_item">
                            <img src="/assets/images/ecommerce/7.png" alt="Product" class="img-fluid cp_img" />
                            <div class="product_details">
                                <a href="ec-product-detail.html">Habitasse dictumst</a>
                                <ul class="product_price list-unstyled">
                                    <li class="old_price">$206.00</li>
                                    <li class="new_price">$113.00</li>
                                </ul>                                
                            </div>
                            <div class="action">
                                <a href="javascript:void(0);" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect">ADD TO CART</a>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="body product_item">
                            <img src="/assets/images/ecommerce/8.png" alt="Product" class="img-fluid cp_img" />
                            <div class="product_details">
                                <a href="ec-product-detail.html">Backpack with tab detail</a>
                                <ul class="product_price list-unstyled">
                                    <li class="old_price">$189.00</li>
                                    <li class="new_price">$143.00</li>
                                </ul>                                
                            </div>
                            <div class="action">
                                <a href="javascript:void(0);" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect">ADD TO CART</a>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="body product_item">
                            <img src="/assets/images/ecommerce/9.png" alt="Product" class="img-fluid cp_img" />
                            <div class="product_details">
                                <a href="ec-product-detail.html">Faux Fur Stole</a>
                                <ul class="product_price list-unstyled">
                                    <li class="old_price">$504.00</li>
                                    <li class="new_price">$455.00</li>
                                </ul>                                
                            </div>
                            <div class="action">
                                <a href="javascript:void(0);" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect">ADD TO CART</a>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="body product_item">
                            <img src="/assets/images/ecommerce/10.png" alt="Product" class="img-fluid cp_img" />
                            <div class="product_details">
                                <a href="ec-product-detail.html">Chest-pocket Printed Shirt</a>
                                <ul class="product_price list-unstyled">
                                    <li class="old_price">$325.00</li>
                                    <li class="new_price">$289.00</li>
                                </ul>                                
                            </div>
                            <div class="action">
                                <a href="javascript:void(0);" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect">ADD TO CART</a>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="card">
                        <div class="body product_item">
                            <img src="/assets/images/ecommerce/11.png" alt="Product" class="img-fluid cp_img" />
                            <div class="product_details">
                                <a href="ec-product-detail.html">Blend Classic Coat</a>
                                <ul class="product_price list-unstyled">
                                    <li class="old_price">$99.00</li>
                                    <li class="new_price">$79.00</li>
                                </ul>                                
                            </div>
                            <div class="action">
                                <a href="javascript:void(0);" class="btn btn-info waves-effect"><i class="zmdi zmdi-eye"></i></a>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect">ADD TO CART</a>
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Jquery Core Js --> 
<script src="/assets/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 
<script src="/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js --> 

<script src="/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js --> 
</body>


</html>