<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
    <div class="otp">

        <form method="post" class="form">
            <div class="flex-column">
                <h1>Verify</h1>
            </div>

            <div class="flex-column">
                <p>Otp is sent to <span class="span"><a><%= email %></a></span>
            </div>
            <div class="inputForm">

                <input type="otp" class="input" name="otp" placeholder="Enter your otp" required>

            </div>


            <p class="error-message">
                <%= message %>
            </p>
            <button class="button-submit" type="submit">Procced</button>
            <p class="p">Resend Otp <span class="span"><a href="/signup">Click here</a></span>

            </p>


        </form>
    </div>


</body>

</html>