<!-- Example HTML structure for wishlist sidebar -->
<div class="wrap-header-wishlist js-panel-wishlist">
    <div class="s-full js-hide-cart"></div>

    <div class="header-wishlist flex-col-l p-l-40 p-r-5">
        <div class="header-wishlist-title flex-w flex-sb-m p-b-8">
            <span class="mtext-103 cl2 p-l-40">
                Your Wishlist
            </span>

            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-wishlist">
                <i class="zmdi zmdi-close"></i>
            </div>
        </div>

        <div class="header-wishlist-content flex-w js-pscroll">
            <ul class="header-wishlist-wrapitem w-full">
                <!-- Wishlist items will be dynamically added here -->
                <!-- Wishlist items will be dynamically added here -->
                <% for (let i=0; i < wishlist.length; i++) { %>
                    <% let item=wishlist[i]; %>
                    <li class="header-wishlist-item flex-w flex-t m-b-12">
                        <div class="header-wishlist-item-img">
                            <img src="/images/<%= item.image[0] %>" alt="IMG" style="width: 60px;">
                        </div>
        
                        <div class="header-wishlist-item-txt p-t-8">
                            <a href="#" class="header-wish-item-name m-b-18 hov-cl1 trans-04">
                                <%= item.name %>
                            </a>
        
                            <span class="header-wish-item-info">
                                Price: $<%= item.rate %>
                            </span>
                        </div>
                    </li>
                        <% } %>


            </ul>

            <div class="w-full">
                <div class="header-wishlist-total w-full p-tb-40">
                    <!-- Total price or other info if needed -->
                </div>

                <div class="header-wishlist-buttons flex-w w-full">
                    <a href="/shopingcart"
                        class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                        View Cart
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>